[submodule "杨毅东"]
	path = 杨毅东
	url = https://github.com/bryant-yangy/homework.git
[submodule "田宇虎"]
	path = 田宇虎
	url = https://github.com/TTYYHH111/homework.git
[submodule "赵睿"]
	path = 赵睿
	url = https://github.com/ChioaR/h0mework.git
[submodule "惠振川"]
	path = 惠振川
	url = https://github.com/Wechuan/homework.git
[submodule "阴明昊"]
	path = 阴明昊
	url = https://github.com/yinmh/homework.git
[submodule "乔天翼"]
	path = 乔天翼
	url = https://github.com/F3ver1/homework.git
[submodule "马少康"]
	path = 马少康
	url = https://github.com/msk666666/homework.git
[submodule "张鹏展"]
	path = 张鹏展
	url = https://github.com/yuzhouwudigaolengnanshen/homework.git
[submodule "王怀乐"]
	path = 王怀乐
	url = https://github.com/SeThrows/HomeWork.git
[submodule "王平"]
	path = 王平
	url = https://github.com/ThePick1011/Homework.git
[submodule "梁秋"]
	path = 梁秋
	url = https://github.com/735573516/homework.git
[submodule "高茜茜"]
	path = 高茜茜
	url = https://github.com/gxxcathie/homework.git
[submodule "李蓉"]
	path = 李蓉
	url = https://github.com/2b3c511/homework.git
[submodule "王春梅"]
	path = 王春梅
	url = https://github.com/wcm950305/homework.git
[submodule "史兆祥"]
	path = 史兆祥
	url = https://github.com/CarpeDime233/Homework.git
[submodule "韩西康"]
	path = 韩西康
	url = https://github.com/fenglinjiuqu/homework.git
[submodule "薛彪"]
	path = 薛彪
	url = https://github.com/zxueb/homework.git
[submodule "王康宇"]
	path = 王康宇
	url = https://github.com/Wistar-Kyoto/HomeWork.git
[submodule "刘帅"]
	path = 刘帅
	url = https://github.com/shuaideyapi/homework.git
[submodule "张弛"]
	path = 张弛
	url = https://github.com/xiaochi100/Homework.git
[submodule "宋辉"]
	path = 宋辉
	url = https://github.com/SongGJ792/homework.git
[submodule "张文龙"]
	path = 张文龙
	url = https://github.com/zwl100/homework.git
[submodule "王路"]
	path = 王路
	url = https://github.com/WangLu6/Homework.git
[submodule "吕娜"]
	path = 吕娜
	url = https://github.com/Ahandsomeboo/homework.git
[submodule "张欣乐"]
	path = 张欣乐
	url = https://github.com/lllighost/homework.git
[submodule "罗云继"]
	path = 罗云继
	url = https://github.com/CannotBB/homework.git
[submodule "李星燃"]
	path = 李星燃
	url = https://github.com/lixingran666/homework.git
[submodule "蔡熙尧"]
	path = 蔡熙尧
	url = https://github.com/SHIELD0/Homework.git
[submodule "郑倩倩"]
	path = 郑倩倩
	url = https://github.com/zqqqqz/homework.git
[submodule "汤晶晶"]
	path = 汤晶晶
	url = https://github.com/luncky123/homework.git
[submodule "贺浩"]
	path = 贺浩
	url = https://github.com/JAVA-HH/homework.git
[submodule "刘雨帆"]
	path = 刘雨帆
	url = https://github.com/Eastwater2/Homework.git
[submodule "吉家卉"]
	path = 吉家卉
	url = https://github.com/rainbowcheese/homework.git
[submodule "李晨浩"]
	path = 李晨浩
	url = https://github.com/lichenhao123/HomeWork
[submodule "赵永峰"]
	path = 赵永峰
	url = https://github.com/belife666/HomeWork
[submodule "董永哲"]
	path = 董永哲
	url = https://github.com/dongyongzhe/homework
[submodule "雷祥"]
	path = 雷祥
	url = https://github.com/leixiang456/good
[submodule "曹晨晨"]
	path = 曹晨晨
	url = https://github.com/cccisasb/cccisabigsb
[submodule "折高建"]
	path = 折高建
	url = https://github.com/BanStayUpLate/SGJ-Homework
